# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron

.DS_Store
.RDataTmp1
.synctex.gz
.aux
.log
.gz
Manuscript/AmNat_MS_template (1).aux
Manuscript/AmNat_MS_template (1).log
Manuscript/AmNat_MS_template (1).synctex.gz
Manuscript/ant_cactus_AmNat.aux
Manuscript/ant_cactus_AmNat.bcf
Manuscript/ant_cactus_AmNat.blg
Manuscript/ant_cactus_AmNat.log
Manuscript/ant_cactus_AmNat.run.xml
Manuscript/ant_cactus_AmNat.synctex.gz
Manuscript/ant_cactus_AmNat.bbl
Manuscript/Manuscript_Am_Nat.aux
Manuscript/Manuscript_Am_Nat.bcf
Manuscript/Manuscript_Am_Nat.bcf
Manuscript/Manuscript_Am_Nat.bcf
Manuscript/Manuscript_Am_Nat.bcf
Manuscript/Manuscript_Am_Nat.log
Manuscript/Manuscript_Am_Nat.pdf
Manuscript/Manuscript_Am_Nat.run.xml
Manuscript/Manuscript_Am_Nat.synctex.gz
Manuscript/Manuscript_Am_Nat.pdf
2021 vital rate params/surv.mu.csv
Data Analysis/.DS_Store
Data Analysis/STAN Models/grow_skew.rds
